[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo-bootstrap-theme"]
	path = hugo-bootstrap-theme
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme.git
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
